    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Add an extra package</h4>
                    </div>
                    <div class="content">

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Company</label>
                                        <!--<input type="text" class="form-control border-input" disabled placeholder="Company" value="Chimbs Collective">-->
                                        <select [(ngModel)]="selectedRole"
                                                id="selectedRole" (change)="onChange()" class="form-control border-input" >
                                            <option *ngFor="let role of rolesAvailable" [value]="role">{{role}}</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control border-input"  [(ngModel)]="username" placeholder="Username" value="s">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control border-input" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control border-input" [(ngModel)]="title" placeholder="Company" value="Chet">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Cost $</label>
                                        <input type="number" [disabled]="disabled" class="form-control border-input" [(ngModel)]="cost" placeholder="Home Address" value="Melbourne, Australia">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description of use</label>
                                        <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike">
</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button (click)="submit()" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                            </div>
                            <div class="clearfix"></div>
                        
                    </div>
                </div>
            </div>


        </div>
    </div>
