
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6" *ngFor="let component of components" [dragData]="component" draggable="true"  [dragScope]="'drink'" >
                <div class="card">
                    <div class="content">

                        <div class="row">

                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-server"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>{{component.title}}</p>
                                    {{component.name}}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">

                                <i class="ti-reload"></i> $ {{component.price}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         

        </div>


        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Currently active pipeline</h4>
                        <p class="category">24 Hours performance</p>
                    </div>









                        <div class="content" droppable="true" [dropScope]="'drink'" (onDrop) = 'onDropEvent($event)'>


                            <div *ngFor="let component of activeComponents" class="card col-lg-3 col-sm-6" >
                            <div class="content">

                                <div class="row">

                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-server"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>{{component.title}}</p>
                                            {{component.name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">

                                        <i class="ti-reload"></i> $ {{component.price}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                        </div>
                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i> All prices are in dollars
                                <i class="fa fa-circle text-danger"></i> Click
                                <i class="fa fa-circle text-warning"></i> Click Second Time
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> {{total()}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
